body{
  background-color: #FCFCFC;
  --paper-tab-ink: #424242;
   --paper-tabs-selection-bar-color: #424242;
}
.container {
    padding-top: 2rem;
    -moz-column-count: 3;
    -moz-column-gap: 1rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 1rem;
    column-count: 3;
    column-gap: 1rem;
    width: 100%;
}

.container div {
    display: inline-block;
    width: 100%;
}

paper-tabs{
  width: 100%;
}

iron-pages h1{
  text-align: center;
}
